node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
.idea
.vscode
.claude
.agents
pnpm-lock.yaml
package-lock.json
__unconfig*
todos.json

# firebase data connect
.firebase
dataconnect/.dataconnect
